.product{
    height: 500px;
    background-color: #f1faee;
    border: 1px solid #1d3557;
    border-radius: 10px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product img{
    height: 300px;
    width: 250px;
    margin: 14px;
    border-radius: 10px;
}
.product-info{
    margin: 14px;
}
.product-info h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info h4{
    margin-top: 5px;
}
.product-btn button{
    width: 100%;
    background-color: #e63946;
    color: white;
    font-weight: 700;
    border: none;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
}
.product-btn button:hover{
    color: white;
    background-color: #1d3557;
}
.product-btn .icon{
    margin-left: 7px;
}